button {
    margin-left: 10;
    margin-right: 20;
    position: absolute;
    left: 10;
    top: 20;
    background: white;
    padding: 10;
} 

ul {
    
    padding: 0; 
    margin: 0;
}

li {
    margin-top: 15px;
}

Drawer {
    max-width: 10%;
}
