.App-header {
  background-color: #282c34;
  color: white;
  height: 100px;
  display: flex;
  flex-direction: inline;
  align-items: center;
  justify-content: center;
  
}

.App-title {
  font-size: 2em;
}

#map {
  height: 100vh;
}
