.App-header {
  background-color: #282c34;
  color: white;
  height: 14vh; /* Header height + map height = 100vh*/
  display: flex;
  flex-direction: inline;
  align-items: center;
  justify-content: center;
  
}

.App-title {
  /*font-size: 2em;*/
  max-width: 70%;
}

/* Google says to always set the map height explicitly to define the size of the div element that contains the map. */

/* Map height + App-header height = 100vh to fill screen */
#map {
  height: 86vh;
}

#sidebarButton {
  margin-left: 10px;
  margin-right: 20px;
  position: "absolute";
  left: 10px;
  top: 20px;
  background: "black";
  color: 'white';
  padding: 10px;
}

button:focus {
  font-weight: bold;
  background: red;
}

